.button {
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bols;
  padding: 17px 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.isToggled {
  background-color: lightgray;
  color: black;
  font-size: 15px;
  font-weight: bols;
  padding: 17px 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;  
}