body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.calculator {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.calculator-button {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}

.gray-button {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-button {
  background-color: rgb(254, 160, 10);
  color: white;
}

.clear-button {
  font-size: 17px;
}

.flex-end {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}
