body {
  font-family: 'Arial', sans-serif;
}

.todo-list-title {
  margin-top: 50px;
}

.add-todo-button {
 background-color: green;
 color: white;
 font-size: 15px;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
 align-items: stretch;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.grid-todo {
  display: grid;
  grid-template-columns: 200px 200px 120px;
  gap: 10px 5px;  
  align-items: center;
  margin-bottom: 5px; 
}

.input-value {
  font-size: 15px !important;
  padding: 6px !important;
}

.date-input {
  font-size: 15px;
  
  /* Webkit (Chrome, Safari, Edge) */
  &::-webkit-datetime-edit { font-size: 15px; }
  &::-webkit-datetime-edit-fields-wrapper { font-size: 15px; }
  &::-webkit-datetime-edit-text { font-size: 15px; }
  &::-webkit-datetime-edit-month-field { font-size: 15px; }
  &::-webkit-datetime-edit-day-field { font-size: 15px; }
  &::-webkit-datetime-edit-year-field { font-size: 15px; }
  &::-webkit-calendar-picker-indicator { 
    font-size: 15px;
    cursor: pointer;
  }

  /* Firefox */
  &::-moz-calendar-picker-indicator {
    font-size: 15px;
    cursor: pointer;
  }

  /* Allgemeine Anpassungen */
  padding: 5px;
  height: auto;
  width: auto;
}

